.search-form
    margin-top 30px

.book-catalog
  display flex
  flex-wrap wrap

.catalog-item
  max-width 250px
  margin-bottom 20px
  margin-right 10px

.item-content
  margin-top 20px

.item-title
  margin-bottom 20px
  font-weight 700


/*
    for responsive
*/
.search-form
    +below(650px)
        display none
