doctype html
html(lang="es")
    head
        base(href="/")
        title Finder challenge
        meta(charset="utf-8")
        meta(viewport="width=device-width, initial-scale=1.0")
        link(href="https://fonts.googleapis.com/css?family=Proxima+Nova", rel="stylesheet", type="text/css")
        link(href="/vendor/pure/pure-min.css", rel="stylesheet")
        link(href="/styles/index.css", rel="stylesheet")

        //- Third party
        link(href="/vendor/awesomplete/awesomplete.css", rel="stylesheet")
        link(href="/vendor/angular-auto-complete/angular-auto-complete.css", rel="stylesheet")

        //- Icons:
        //- Fontawesome
        link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet")

        //- Ionicons
        link(href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet")

    body(ng-app="FinderChallenge")
        block content


        //- third party libraries
        script(src="/vendor/underscore/underscore-min.js")
        script(src="/vendor/awesomplete/awesomplete.js")
        script(src="https://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")

        //- bundled controllers
        script(src="/scripts/bundled.js")
